include tests/simple_tests.py
include tests/metamorphic_tests/*
include examples/config_example.conf
include examples/test_aln_aa.fasta
include examples/test_aln_nt.fasta
include examples/test_aln_nt.fasta
include examples/test_guide_cladogram.newick
include README.md
include README.html
include README_files/*
include LICENSE
